html {
    height: 100% ! important;
}

body {
    min-height: 100% ! important;
}
/* Custom page CSS
-------------------------------------------------- */

table{
    width: 100%;
}
th{
    text-align: center;
    vertical-align: middle ! important;
}
tr th{
    text-align: center;
    vertical-align: middle ! important;
}
td{
    vertical-align: middle ! important;
}

.container-fluid .row .page-header{
    padding-left: 30px;
}

.centered {
    position: fixed;
    min-width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 10px auto 0 auto;
    padding-top: 15px;
    background-color: #00ba8b;
}

