/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 26, 2014, 10:01:00 PM
    Author     : vord
*/

html {
    height: 100% ! important;
}

body {
    min-height: 100% ! important;
}
/* Custom page CSS */

table{
    width: 100%;
}
th{
    text-align: center;
    vertical-align: middle ! important;
}
tr th{
    text-align: center;
    vertical-align: middle ! important;
}
td{
    vertical-align: middle ! important;
}
table tbody tr td{               
    color: #333333;
}

.container-fluid .row .page-header{
    padding-left: 30px;
}
/* Progress Step  */
ol.progtrckr {
    margin: 0;
    padding: 0;
    list-style-type : none;
}

ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 3em;
}
ol.progtrckr[data-progtrckr-steps="2"] li { width: 49%; }
ol.progtrckr[data-progtrckr-steps="3"] li { width: 33%; }
ol.progtrckr[data-progtrckr-steps="4"] li { width: 24%; }
ol.progtrckr[data-progtrckr-steps="5"] li { width: 19%; }
ol.progtrckr[data-progtrckr-steps="6"] li { width: 16%; }
ol.progtrckr[data-progtrckr-steps="7"] li { width: 14%; }
ol.progtrckr[data-progtrckr-steps="8"] li { width: 12%; }
ol.progtrckr[data-progtrckr-steps="9"] li { width: 11%; }

ol.progtrckr li.progtrckr-done {
    color: black;
    border-bottom: 4px solid yellowgreen;
}
ol.progtrckr li.progtrckr-todo {
    color: silver; 
    border-bottom: 4px solid silver;
}

ol.progtrckr li:after {
    content: "\00a0\00a0";
}
ol.progtrckr li:before {
    position: relative;
    bottom: -2.5em;
    float: left;
    left: 50%;
    line-height: 1em;
}
ol.progtrckr li.progtrckr-done:before {
    content: "\2713";
    color: white;
    background-color: yellowgreen;
    height: 1.2em;
    width: 1.2em;
    line-height: 1.2em;
    border: none;
    border-radius: 1.2em;
}
ol.progtrckr li.progtrckr-todo:before {
    content: "\039F";
    color: silver;
    background-color: white;
    font-size: 1.5em;
    bottom: -1.6em;
}

#list {      
    width: 100%;
    max-height: 450px;
    overflow-y: scroll;
    /*margin-top: 2%;*/
}

.time-checkin{
    display:inline; 
    font-size:1.4em; 
    text-align:center; 
    font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif; 
    text-shadow:0 0 5px #cccccc;
}

/*------------------------------------------------------------------
clock
*/



.clock {
    width:80%; 
    /*margin: 2% auto;*/  
    /*padding: 3% auto;*/
    /*border:1px solid #333;*/ 
    color:#333333; 

}
#Date { 
    font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif; 
    font-size:0.9em; 
    text-align:center; 
    text-shadow:0 0 5px #cccccc;

}
.clock ul {
    /*width:100%;*/ 
    margin:0 auto; 
    padding:0px; 
    list-style:none; 
    text-align:center; 
}
.clock ul li { 
    display:inline; 
    font-size:1.4em; 
    text-align:center; 
    font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif; 
    text-shadow:0 0 5px #cccccc;

}

#point { 
    position:relative; 
    -moz-animation:mymove 1s ease infinite; 
    -webkit-animation:mymove 1s ease infinite; 
    padding-left:10px; padding-right:10px;
}

@-webkit-keyframes mymove 
{
    0% {opacity:1.0; text-shadow:0 0 20px #cccccc;}
    50% {opacity:0; text-shadow:none; }
    100% {opacity:1.0; text-shadow:0 0 20px #cccccc; }	
}
@-moz-keyframes mymove 
{
    0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
    50% {opacity:0; text-shadow:none; }
    100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }	
}


/*------------------------------------------------------------------
[6. Widget / .widget]
*/

.widget {

    position: relative;
    clear: both;	
    width: auto;	
    margin-bottom: 2em;		
    overflow: hidden;
}

.widget-header {	
    position: relative;
    padding-left: 2%;
    height: 50px;
    line-height: 45px;    
    font-size: 18px;
    background: #f9f6f1;
    background:-moz-linear-gradient(top, #f9f6f1 0%, #f2efea 100%); /* FF3.6+ */
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f6f1), color-stop(100%,#f2efea)); /* Chrome,Safari4+ */
    background:-webkit-linear-gradient(top, #f9f6f1 0%,#f2efea 100%); /* Chrome10+,Safari5.1+ */
    background:-o-linear-gradient(top, #f9f6f1 0%,#f2efea 100%); /* Opera11.10+ */
    background:-ms-linear-gradient(top, #f9f6f1 0%,#f2efea 100%); /* IE10+ */
    background:linear-gradient(top, #f9f6f1 0%,#f2efea 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f6f1', endColorstr='#f2efea');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f6f1', endColorstr='#f2efea')";


    border: 1px solid #d6d6d6;
    -webkit-background-clip: padding-box;
}	

.widget-header h3 {

    position: relative;
    top: 2px;
    left: 10px;

    display: inline-block;
    margin-right: 3em;

    font-size: 14px;
    font-weight: 800;
    color: #525252;
    line-height: 18px;

    text-shadow: 1px 1px 2px rgba(255,255,255,.5);
}

.widget-header [class^="fa-"], .widget-header [class*=" fa-"] {

    display: inline-block;
    margin-left: 13px;
    margin-right: -2px;
    font-size: 16px;
    color: #555;
    vertical-align: middle;
}
.widget-content {
    padding: 20px 15px 15px;
    background: #FFF;
    border: 1px solid #D5D5D5;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.widget-header+.widget-content {
    border-top: none;

    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.widget-nopad .widget-content {
    padding: 0;
}

/* Widget Content Clearfix */	
.widget-content:before,
.widget-content:after {
    content:"";
    display:table;
}

.widget-content:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.widget-content {
    zoom:1;
}

/* Widget Table */

.widget-table .widget-content {
    padding: 1%;
}

.widget-table .table {
    margin-bottom: 0;

    border: none;
}


/* Widget Plain */

.widget-plain {
    background: transparent;
    border: none;
}

.widget-plain .widget-content {
    padding: 0;
    background: transparent;
    border: none;
}


/* Widget Box */

.widget-box {	

}

.widget-box .widget-content {	
    background: #E3E3E3;	
    background: #FFF;
}

